
.pagination__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page__wrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.page {
  color: #ccc;
  padding: 10px;
  cursor: pointer;
}

.page__current {
  color: teal;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.page__button {
  border: none;
  background: transparent;
  color: #ccc;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.page__button:hover {
  color: teal;
}

.page__button:focus {
  outline: none;
}