
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container > div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}

.grey {
	background-color: #ccc;
	animation-delay: 0.1s;
}

.teal {
	background-color: teal;
	animation-delay: 0.2s;
}


@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1.5);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1);
	}
} 
