* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to right, #000000, #434343); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: #1E262C;
    width: 100%;
    display: flex;
    justify-content: center;
}

#root {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.App {
    display: flex;
    flex-direction: column;
    
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: rgba(42,53,62, 0.1);
}

.navbar__links {
    margin-left: auto;
}

/* scroll */
::-webkit-scrollbar {
    width: 8px;
    background: #41474C;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: teal;
    width: 2px;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-corner{
    background: #41474C;
  }