.movie {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 264px;
  /* border: 2px solid teal; */
  /* box-shadow: -4px 2px 52px 0px rgba(0,128,128,0.75); */
  /* box-shadow: -8px 2px 32px 0px rgba(0,128,128,0.75); */
  box-shadow: -3px 2px 32px 0px rgba(0,128,128,0.75);
  margin-top: 15px;
  align-items: center;
  background: rgba(42,53,62, 0.1);
  border-radius: 10px;

}

.movie__title {
  text-align: center;
  color: #ccc;
  text-transform: uppercase;
}

.movie__genre_wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid teal; */
  padding: 1vw;
}

.movie__genre {
  margin-right: 1vw;
  color: #ccc;
  opacity: 0.5;
}

.movie__rating, .movie__year {
  color: #eee;
  opacity: 0.5;
}

.movie__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movie__btns_wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}