.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  width: 264px;
  box-shadow: -3px 2px 32px 0px rgba(0,128,128,0.75);
  margin-top: 15px;
  align-items: center;
  background: rgba(42,53,62, 0.1);
  border-radius: 10px;

}
.link {
  text-decoration: none;
}

.img {
  position: relative;
}

.over__img_info {
  opacity: 0;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.4s ease;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 35px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 50%;
}

.genres {
  text-align: center;
  height: 40%;
}

.movie__genre {
  margin-bottom: 5px;
}

.more {
  text-align: center; 
  width: 70%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 28px;
  color: #eee;
  transition: 0.8s ease;
}

.img:hover .more {
  top: 20%;
}

.more:hover {
  color: teal;
}

.img:hover .over__img_info {
  opacity: 1;
  background: rgba(30,38,44, 0.8);
  box-shadow: -3px 2px 32px 0px rgba(0,128,128,0.3);
}

.title {
  font-size: 18px;
  color: #ccc;
  text-transform: uppercase;
  text-align: center;
}

.year {
  font-size: 18px;
  color: #ccc;
}

