.movieItem__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}