.movieItem__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-enter {
  transform: translateX(-350px);
}
.movie-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.movie-exit {
  opacity: 1;
}
.movie-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}