.page_wrap {
  width: 100%;
}

.movie_page {
  display: flex;
  color: #ccc;
  overflow-x: hidden;
  width: 100%;
}

.movie_title {
  margin-bottom: 10px;
}

.movie__img {
  border: 1px solid green;
}

.movie_info {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  border: 1px solid blue;
  justify-content: space-between;
}

.movie_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  width: 70%;
  
}



.movie_about {
  width: 95%;
  max-height: 150px;
  overflow-y: scroll;
}